<h2 ng-show="quotes.length === 0">No Quotes Yet!</h2>

<table class="table" ng-hide="quotes.length === 0">
  <thead>
  <tr>
    <th>Author</th>
    <th>Message</th>
    <th>Delete</th>
    <th>Edit</th>

  </tr>
  </thead>

  <tbody>

    <tr ng-repeat="quote in quotes" >
      <td ng-if="!editTracker[$index.toString()]">{{ quote.author }}</td>
      <td ng-if="editTracker[$index.toString()]"><input type="text" ng-model="quote.author"></td>
      <td ng-if="!editTracker[$index.toString()]">{{ quote.message }}</td>
      <td ng-if="editTracker[$index.toString()]"><input type="text" ng-model="quote.message"></td>

      <td ng-click="deleteQuote(quote)">Delete</td>
      <td ng-click="edit($index)" ng-if="!editTracker[$index.toString()]">Edit</td>
      <td ng-if="editTracker[$index.toString()]" ng-click="updateQuote($index)">Update</td>

    </tr>

  </tbody>
</table>